<div id="sidebar">
	<div class="inner">
		{{!-- Search bar --}}
		<header class="search">
			<h2>Search</h2>
			<span>for any article in the site</span>
			<div class="search-bar"><input id="ghost-search-field" /><i class="icon fa-close"></i></div>
		</header>

		{{!-- Tags or Sections --}}
		<section>
			<h2 class="title">Sections</h2>
			<div class="mini-posts">
				{{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
				{{#foreach tags}}
					<a href="/tag/{{slug}}" title="{{name}}" class="box-tag tag-{{id}} {{slug}}">{{name}} <small>({{ count.posts }})</small></a>
				{{/foreach}}
				{{/get}}
			</div>
		</section>
		<section>
		{{#get "posts" limit="4" filter="tag:hash-most-visited" include="tags" as |similar|}}
		<h2 class="title">Most Visited</h2>
	  <div class="mini-posts">
	    {{#foreach similar}}
	    <article>
				<h3><a href="{{url}}">{{title}}</a></h3>
				<p>{{excerpt words="15"}}</p>
			</article>
	    {{/foreach}}
	  </div>
	  {{else}}
	  <p>Few posts should appear here</p>
		{{/get}}
		</section>
		

		{{!-- Do not show recent posts in home page. Which already shows recent posts --}}
		{{#is "home"}}
			{{!-- nothing --}}
		{{else}}
			{{!-- Show recent posts --}}
			<section>
				<header class="major">
					<h2>Recent Posts</h2>
				</header>
				<div class="mini-posts">
					{{!-- We're just grabbing the 3 latest posts here but you can change
					this to filter for a specific tag or order depending on what you want.
					More info: https://docs.ghost.org/api/handlebars-themes/helpers/get/ --}}
					{{#get "posts" limit="3" as |mini_post|}}
						{{#foreach mini_post}}
						<article>
							<h3><a href="{{url}}">{{title}}</a></h3>
							<p>{{excerpt words="15"}}</p>
						</article>
						{{/foreach}}
					{{/get}}
				</div>
			</section>
		{{/is}}

		{{!-- Contact --}}
		{{#get "posts" slug="contact" as |contact|}}
			{{#if contact}}{{#foreach contact}}
				<section>
					<header class="major">
						<h2>{{title}}</h2>
					</header>
					{{content}}
				</section>
			{{/foreach}}{{/if}}
		{{/get}}

		

	</div>
</div>
