<!DOCTYPE html>
<html lang="{{lang}}">
<head>

  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Styles'n'Scripts --}}
  
  <link rel="stylesheet" type="text/css" href="{{asset "main/css/main.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "main/css/slick.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "main/css/slick-theme.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "main/css/news.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "main/css/media.css"}}" />


  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}

</head>
<body class="is-preload {{body_class}}">


  <div id="over-wrap">
    <div id="wrapper">
      <div id="wrap"></div>
      {{> top}}
      {{!-- The left sidebar - partials/sidebar.hbs --}}
      {{> sidebar}}
      <div id="main">
        <div class="inner">
          {{> noscript}}
          {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
          {{{body}}}
        </div>
      </div>
    </div>
    {{> footer}}
  </div>
  

  {{!-- Theme Scripts --}}
  <script type="text/javascript">
    function loadScriptSync(src) {
      var s = document.createElement('script');
      s.src = src;
      s.type = "text/javascript";
      // s.async = false;                                 // <-- this is important
      document.getElementsByTagName('head')[0].appendChild(s);
    }
    loadScriptSync("{{asset "main/js/defaults.js"}}")
  </script> 
  <script src="{{asset "main/js/defaults.js"}}"></script>
  <script src="{{asset "main/js/jquery.min.js"}}"></script>
  <script src="{{asset "main/js/browser.min.js"}}"></script>
  <script src="{{asset "main/js/breakpoints.min.js"}}"></script>
  <script src="{{asset "main/js/slick.min.js"}}"></script>
  <script src="{{asset "main/js/cookie.js"}}"></script>
  <script src="{{asset "main/js/util.js"}}"></script>
  <script src="{{asset "main/js/main.js"}}"></script>
  <script>
    var max_pages = parseInt('{{pagination.pages}}'),
        post_class = '';
  </script>
  <script src="{{asset "main/js/tr.js"}}"></script>
  <script src="{{asset "main/js/bookmark.js"}}"></script>

  {{!-- Search includes --}}
  <script src="{{asset "main/js/fuzzysort.js"}}"></script>
  <script src="{{asset "main/js/content-api.min.js"}}"></script>
  <script src="{{asset "main/js/ghost-search.min.js"}}"></script>
  <script src="{{asset "main/js/gs.js"}}"></script>
  <script src="{{asset "main/js/infinite.js"}}"></script>
  <script type="text/javascript">
    $(".slider").slick({
      infinite: true,
      lazyLoad: 'ondemand',
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      responsive: [{
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          infinite: true
        }
      }, {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          dots: true
        }
      }, {
        breakpoint: 360,
        settings: {
          slidesToShow: 1,
          infinite: false,
          autoplay: false
        }
      }, {
        breakpoint: 320,
        settings: {
          slidesToShow: 1,
          infinite: false,
          autoplay: false
        }
      }]
    }); 
  </script>

  {{!-- Ghost outputs important scripts & data with the {ghost_foot} tag
  it should always be the very last thing before the closing body tag --}}
  {{ghost_foot}}

</body>
</html>
