{{!< default}}

{{!-- Search results --}}
{{> search}}

{{#post}}
<section>
  <header class="post-full-header">
    <h1 class="post-full-title">{{title}}</h1>
  </header>
  {{content}}
  {{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
  {{#foreach tags as |tag|}}
    <div>
      <a href='{{ url }}'>
        <h4>{{ name }} <small>({{ count.posts }})</small></h4>
      </a>
      <p>{{ description }}</p>
      {{#get "posts" limit="4" filter="tag:{{slug}}" include="tags" as |similar|}}
      {{!-- Posts --}}
      <section class="posts">
        {{#foreach similar}}
        <article class="small">
            {{#if feature_image}}
              <a href="{{url}}" class="image fit frame"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
            {{/if}}
            <h3><a href="{{url}}">{{title}}</a></h3>
            <p>{{excerpt words="10"}}</p>
            <a href="{{url}}" class="pull-bottom-right more">Read more ></a>
        </article>
        {{/foreach}}
      </section>
      {{else}}
      <p>Few posts should appear here</p>
      {{/get}}

    </div>
  {{/foreach}}
  {{/get}}
  <section>
{{/post}}