{{!< default}}

{{!-- Search results --}}
{{> search}}

<header class="main content">
  <h1>{{title}}</h1>
</header>

{{#post}}
<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <header class="post-full-header">
      <h1 class="post-full-title">{{title}}</h1>
    </header>

      {{content}}
      
      {{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
      {{#foreach tags}}
          <a href='{{ url }}'>
          <h4>{{ name }} <small>({{ count.posts }})</small></h4>
          </a>
          <p>{{ description }}</p>
      {{/foreach}}
      {{/get}}
  </div>
</main>
{{/post}}